<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <div id="<%= dom_id coop %>">
      <p class="my-5">
        <strong class="block font-medium mb-1">Name:</strong>
        <%= coop.name %>
      </p>
    </div>
  </div>
</div>
