<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Subscription Status:</strong>
    <% if user.has_active_subscription? %>
      <%= user.active_subscription.status %>
    <% else %>
      <p>canceled</p>
    <% end %>
  </p>
</div>
